# Игнор файлы для VisualStudioCode
.vscode
__pycache__
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Игнор файлы для Python
.venv
.pytest_cache

# Игнор файлы для PyPI
dist
build
*.egg*

# Игнор файлы разработки
develop*
